
/* =======================================
Common css start
========================================= */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lobster&family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&display=swap');


.container{
    margin-bottom: 80px !important;
}

/* =======================================
Common css end
========================================= */



a.navbar-brand img {
    width: 50px;
}
a.navbar-brand.text-white {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Lobster', cursive;
}

a.nav-link {
    font-size: 12px !important;
    color: rgb(218, 218, 218) !important;
    text-transform: uppercase !important;
}

a.nav-link:hover{
	border-bottom: 2px solid #666666;
    color: #ffffff !important;
    border-radius: 5px;
	transition: all 1s ease;
}


/* =======================================
        Navber style end
========================================= */

.background-img.img-fluid.p-0 {
    background-image: url(img/Juwel.header.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;
}

/* =======================================
        Header style
========================================= */


h1.about-header.text-center {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Source Serif Pro', serif;
}

p.lorem-ipsum {
    text-align: justify;
    font-weight: 400;
    padding: 10px !important;
    color: #666666;
}

.container.about2 {
    background: #cccccc !important;
    border-radius: 0px 50px;
    padding: 30px 20px;
}

.text-center.kkkk {
    background: white;
    margin: 10px;
    padding: 30px 0px !important;
    border-radius: 10px;
    transform: skewX(-5deg);
    height: 250px;
}

i.fas.fa-2x.fa-camera {
	background: black !important;
	color: white !important;
    font-size: 20px !important;
    padding-bottom: 10px !important;
    border-radius: 30px;
    border: 1px solid black;
	padding: 15px !important;
}
i.fas.fa-2x.fa-camera:hover{
	color: black !important;
	background: white !important;
}

i.fas.fa-2x.fa-laptop {
	background: black !important;
	color: white !important;
    font-size: 20px !important;
    padding-bottom: 10px !important;
    border-radius: 30px;
    border: 1px solid black;
	padding: 15px !important;
}
i.fas.fa-2x.fa-laptop:hover{
	color: black !important;
	background: white !important;
}

i.fas.fa-2x.fa-globe-europe {
	background: black !important;
	color: white !important;
    font-size: 30px !important;
    padding-bottom: 10px !important;
    border-radius: 30px;
    border: 1px solid black;
	padding: 15px !important;
}
i.fas.fa-2x.fa-globe-europe:hover{
	color: black !important;
	background: white !important;
}

i.fas.fa-2x.fa-star {
	background: black !important;
	color: white !important;
    font-size: 20px !important;
    padding-bottom: 10px !important;
    border-radius: 30px;
    border: 1px solid black;
	padding: 15px !important;
}
i.fas.fa-2x.fa-star:hover{
	color: black !important;
	background: white !important;
}

p.pragruph {
    margin-bottom: 0;
    text-align: justify;
    padding: 10px;
    line-height: 1.5;
    color: #666666;
}

/*========================================
            About style  end
==========================================*/

.container.parsonal-info.bg-dark.m-0.p-0 {
    margin: 0 auto !important;
    padding-bottom: 5px !important;
}

h1.text-center.text-light.pt-4.pb-3.resume {
    font-family: 'Source Serif Pro';
    text-transform: uppercase;
}

h2.ms-2.mt-4.education-tytle {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Source Serif Pro';
}

h6.resum-text {
    margin-bottom: 10px;
    font-size: 15px;
}

h6.resum-year{
    font-size: 16px;
}

.mt-4.ms-4.education-exprience {
    font-family: 'Rajdhani', sans-serif;
    color: #a7a7a7;
}

/*===================================
            Resume style  end
=====================================*/

h2.text-center.mt-5 {
    text-transform: uppercase;
    font-family: 'Source Serif Pro';
    font-weight: 600;
}

p.text-center.mb-5 {
    text-transform: capitalize;
    font-size: 16px;
    color: #666666;
}

.button-link.text-center.mb-3.p-0 {
    word-spacing: 10px !important;
    text-transform: uppercase;
}

a.btn.btn-outline-dark.btn-md {
    border-radius: 25px !important;
    color: #666666;
}
a.btn.btn-outline-dark.btn-md:hover{
    transition: 1s all ease;
    background: #000 !important;
    color: #ffffff !important;
}

.card-img:hover img{
    transform: scale(1.03);
    transition: 1.2s all ease;
    overflow: hidden;
}

/* ==========================================
            work style part end
============================================ */


div.d-block.w-100 {
    /* height: 550px !important; */
    height: 500px !important;
    width: 100% !important;
}
h3.carosul.hading.text-light.pt-5 {
    font-family: 'Source Serif Pro';
    text-transform: uppercase;
}

h6.carosul.hadingtitle.text-light {
    font-size: 12px !important;
    text-transform: uppercase;
    color: red !important;
}

p.carosul-text.text-light.text-justify.px-5 {
    text-align: justify !important;
    line-height: 1.5 !important;
    color: #a7a7a7 !important;
}

.fab.fa-2x.fa-angellist{
    color: #0fa13b !important;
}
/* h4.end-title.pb-4.text-light.text-center {
    font-family: 'Dancing Script', cursive !important;
    color: #0fa13b !important;
} */


/* ==========================================
            carusol part end
============================================ */

.inner-blog {
    border: 1px solid #6666;
    border-radius: 10px;
}

.inner-blog img{
    border-radius: 10px 10px 0px 0px;
}

.blogs-text {
    padding: 0px 15px;
}

p.blog-pragruph.pt-2 {
    color: #666666;
    text-align: justify;
    line-height: 1.5;
}


/* ==========================================
            blogs part end
============================================ */


h5.contactus.pb-3 {
    text-transform: uppercase !important;
    font-family: 'Dancing Script' !important;
    font-weight: 900 !important;
}

.col-sm-4.m-0.pb-3.text-center img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: justify !important;
}

span.pr-5 {
    text-align: justify !important;
    padding-right: 15px !important;
    color: red !important;
}

/* ==========================================
            Contacts part end
============================================ */