a.navbar-brand.text-light {
    font-size: 40px !important;
    font-weight: 700;
    margin-left: 35px !important;
    color: aqua !important;
}
a.navbar-brand img {
    width: 50px;
}

ul.navbar-nav.ms-auto{
    margin-right: 0px !important;
    margin-left: 550px !important;

}

a.nav-link {
    font-size: 12px !important;
    color: aqua !important;
    text-transform: uppercase !important;
}

a.nav-link:hover {
	color: blue !important;
	font-weight: 100 !important;
	letter-spacing: 1.5px;
}

/*-----Navber style  end-----*/

header#header {
    background-image: url(./img/Juwel.header.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 1000;
}


.container-fluid.jjjjjjjjjjj {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/Juwel.header.JPG);
    height: 100vh;
    text-align: center !important;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*h1.pt-5.pb-0.text-light {
    position: absolute;
    font-size: 50px !important;
    text-transform: uppercase;
    color: #08cccc !important;
    outline-style: dotted; 
    margin: 0 auto;
    margin-left: 370px !important;
    margin-top: 280px !important; 
}
*/
/*-----Header style  end-----*/

h1.about-header.text-center {
    font-size: 40px;
    font-weight: 700;
}

p.lorem-ipsum {
    text-align: justify;
    font-weight: 400;
    padding: 20px !important;
}

.container.p-5 {
    background: #f5f6f7cf;
    padding: 72px 0px !important;
}
.container.p-4 {
    background: #e6e6e6 !important;
}
.row {
    --bs-gutter-x: 1.5rem;
}

.text-center.kkkk {
    background: white;
    margin: 20px;
    padding: 35px 0px !important;
}


i.fas.fa-2x.fa-camera {
	background: black !important;
	color: white !important;
    font-size: 20px !important;
    padding-bottom: 10px !important;
    border-radius: 30px;
    border: 1px solid black;
	padding: 15px !important;
}
i.fas.fa-2x.fa-camera:hover{
	color: black !important;
	background: white !important;
}


i.fas.fa-2x.fa-laptop {
	background: black !important;
	color: white !important;
    font-size: 20px !important;
    padding-bottom: 10px !important;
    border-radius: 30px;
    border: 1px solid black;
	padding: 15px !important;
}
i.fas.fa-2x.fa-laptop:hover{
	color: black !important;
	background: white !important;
}


i.fas.fa-2x.fa-globe-europe {
	background: black !important;
	color: white !important;
    font-size: 30px !important;
    padding-bottom: 10px !important;
    border-radius: 30px;
    border: 1px solid black;
	padding: 15px !important;
}
i.fas.fa-2x.fa-globe-europe:hover{
	color: black !important;
	background: white !important;
}


i.fas.fa-2x.fa-star {
	background: black !important;
	color: white !important;
    font-size: 20px !important;
    padding-bottom: 10px !important;
    border-radius: 30px;
    border: 1px solid black;
	padding: 15px !important;
}
i.fas.fa-2x.fa-star:hover{
	color: black !important;
	background: white !important;
}

/*-----About style  end-----*/

.container.parsonal-info.bg-dark.m-0.p-0 {
    margin: 0 auto !important;
    padding-bottom: 10px !important;
}

h2.ms-2.mt-4.education-tytle {
    text-transform: uppercase;
    font-weight: 300;
    font-family: none;
}

.mt-4.ms-4.education-exprience {
	font-family: 'Geo', sans-serif !important;
    font-size: 13px !important;
    color: #f7f7f88c !important;
}
/*h6.m-0.p-0.\31 1111 {
    font-size: 13px !important;
}*/

/*-----Resume style  end-----*/

h2.text-center.mt-5.mb-5 {
    font-size: 40px;
    font-weight: 600;
}

.button-link.text-center.mb-4.p-0 {
    word-spacing: 10px !important;
    text-transform: uppercase;
}

a.btn.btn-outline-dark.btn-md {
    border-radius: 25px !important;
}
a.btn.btn-outline-dark.btn-md:hover{
    transform: scale(1.1);
    transition: 1.5s all linear;
    background: none !important;
    color: black !important;
}


.card-img:hover img{
    transform: scale(1.01);
    transition: 1.2s all linear;
    overflow: hidden;
}

/* ==========================================
            carusol part start
============================================ */


div.d-block.w-100 {
    height: 550px !important;
    width: 100% !important;
}

h6.carosul.hadingtitle.text-light {
    font-size: 12px !important;
}

p.carosul-text.text-light.text-justify.p-5.pt-0 {
    text-align: justify !important;
    line-height: 1.5 !important;
    padding-bottom: 0px !important;
}

h4.end-title.p-4.text-light.text-center {
    font-family: 'Dancing Script', cursive !important;
    color: #2cc896 !important;
}


/* ==========================================
            carusol part end
============================================ */


h5.contactus.pb-3 {
    text-transform: uppercase !important;
    font-family: 'Dancing Script' !important;
    font-weight: 900 !important;
}

.col-sm-4.m-0.pb-3.text-center img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: justify !important;
}

span.pr-5 {
    text-align: justify !important;
    padding-right: 15px !important;
    color: red !important;
}

button.btn.mt-5.btn-outline-info {
    padding: 10px 40px !important;
    font-size: 20px !important;
    border-radius: 50px !important;
    text-transform: uppercase;
    letter-spacing: 3px !important;
    transition: 1.5s !important;
    font-weight: 500;
}

button.btn.mt-5.btn-outline-info:hover{
    text-transform: 1.2;
    transform: scale(1.2);
}
/*----kobra all  part end---------*/
